<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="shortcut icon" href='static/images/favicon.gif'/>
    <title>Stargate Fanpage</title>
</head>
<body>
    <div class="container hover-left">
        <div class="split left">
            <h1>Stargate SG•1 Fanpage</h1>
            <a href="stargate" class="btn">Visit</a>
        </div>
        <div class="split right">
            <h1>WIP</h1>
            <a class="btn">Visit</a>
        </div>
    </div>
    <script src="static/js/home.js"></script>
</body>
</html>