<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stargate/about.css">
    <title>Stargate Fanpage</title>
</head>
<body>
    <div class="title-placeholder"></div>
    <div class="nav-placeholder"></div>

    <div class="row">
        <div class="column left">
            <h1>About Project</h1>
            <p>The Stargate SG-1 Fanpage website was created as a competition project for ninth-grade students of elementary schools who want to apply to study at the Industrial High School of Electrical Engineering SPŠE Hálova, Bratislava, Slovakia.<br><br>

                This project belongs to the category of programming. I decided to create it using the Python and JavaScript programming languages ​​as well as HTML and CSS. I built this website from scratch from design to implementation of the entire project using my current skills and, of course, googling here and there.<br><br>
                
                I chose the theme of the Stargate SG-1 TV series to create this website because I am a big fan of the series. It seems that the series will probably not continue in the future, which is a pity, so I decided to add some quotes here to recall some moments.
                </p>
            <div class="quotes"></div>
        </div>
        
        <div class="column right">
            <p></p>
            <div class="img-container">
                <img class="form-img" src="../static/images/profile_image.png" style="position: relative; left: 50%;transform:translateX(-50%);height: 100%; width: auto;">
            </div>
            <h1>About Me</h1>
            <p>Hi, my name is Jakub, and I come from Slovakia. I am interested in modern technology and everything related to it. I am also a big fan of sci-fi and the discovery of space.<br><br>

                Working on this project was fun, and I learned a lot about website development. It's not perfect, but hey, I'm only 14 years old :) In the future, I would like to improve my programming skills, learn other programming languages and work on interesting projects.<br><br>
                
                In addition to programming, I enjoy traveling, swimming, cycling, hiking, and, of course, playing video games.
            </p>
        </div>
    </div>
    <div class="totop-placeholder"></div>
    <div class="footer-placeholder"></div>
    <script src="../static/js/autoElement.js"></script>
    <script>StargateAutoElement();</script>
    <script src="../static/js/stargate/about.js"></script>
</body>
</html>