<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stargate/characters.css">
    <title>Stargate Fanpage</title>
</head>
<body>
    <div class="title-placeholder"></div>
    <div class="nav-placeholder"></div>
    
    <div class="content" style="width:100vw">
        <div class="whitespace" style="width:100vw; height:25px; background-color:white"></div>
        <div class="characters">
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_oneil.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Jack O'Neill</h3>
            </div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_carter.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Samantha Carter</h3>
            </div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_jackson.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Daniel Jackson</h3>
            </div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_tealc.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Teal'c of Chulak</h3>
            </div>
            <div class="whitespace betweeen" style="width:100vw; height:25px; background-color:white"></div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_hammond.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>George S. Hammond</h3>
            </div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_mitchell.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Cameron Mitchell</h3>
            </div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_maldoran.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Vala Mal Doran</h3>
            </div>
            <div class="character">
                <div class="img-container">
                    <img src="../static/images/photo_landry.jpg" style="width:auto;height: 400px;">
                </div>
                <h3>Henry Landry</h3>
            </div>
        </div>
    </div>

    <div class="totop-placeholder"></div>
    <div class="footer-placeholder"></div>
    <script src="../static/js/autoElement.js"></script>
    <script>StargateAutoElement();</script>
    <script src="../static/js/stargate/characters.js"></script>
</body>
</html>