<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stargate/galery.css">
    <title>Stargate Fanpage</title>
</head>
<body>
    <div class="title-placeholder"></div>
    <div class="nav-placeholder"></div>

    <div class="whitespace" style="width:100vw; height:25px; background-color:white"></div>
    <div class="galery-grid">
        <button class="photo" onclick="window.location.href='galery/preview?img=1'"><div class="img-container"><img src="../../static/images/stargate_galery_01.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=2'"><div class="img-container"><img src="../../static/images/stargate_galery_02.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=3'"><div class="img-container"><img src="../../static/images/stargate_galery_03.jpg"></div></button>
    </div>
    <div class="whitespace" style="width:100vw; height:25px; background-color:white"></div>
    <div class="galery-grid">
        <button class="photo" onclick="window.location.href='galery/preview?img=4'"><div class="img-container"><img src="../../static/images/stargate_galery_04.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=5'"><div class="img-container"><img src="../../static/images/stargate_galery_05.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=6'"><div class="img-container"><img src="../../static/images/stargate_galery_06.jpg"></div></button>
    </div>
    <div class="whitespace" style="width:100vw; height:25px; background-color:white"></div>
    <div class="galery-grid">
        <button class="photo" onclick="window.location.href='galery/preview?img=7'"><div class="img-container"><img src="../../static/images/stargate_galery_07.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=8'"><div class="img-container"><img src="../../static/images/stargate_galery_08.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=9'"><div class="img-container"><img src="../../static/images/stargate_galery_09.jpg"></div></button>
    </div>
    <div class="whitespace" style="width:100vw; height:25px; background-color:white"></div>
    <div class="galery-grid">
        <button class="photo" onclick="window.location.href='galery/preview?img=10'"><div class="img-container"><img src="../../static/images/stargate_galery_10.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=11'"><div class="img-container"><img src="../../static/images/stargate_galery_11.jpg"></div></button>
        <button class="photo" onclick="window.location.href='galery/preview?img=12'"><div class="img-container"><img src="../../static/images/stargate_galery_12.jpg"></div></button>
    </div>
    <div class="whitespace" style="width:100vw; height:25px; background-color:white"></div>

    <div class="totop-placeholder"></div>
    <div class="footer-placeholder"></div>
    <script src="../static/js/autoElement.js"></script>
    <script>StargateAutoElement();</script>
</body>
</html>