<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stargate/seasons.css">
    <title>Stargate Fanpage</title>
</head>
<body>
    <div class="title-placeholder"></div>
    <div class="nav-placeholder"></div>

    <div class="container">
        <div class="panel" id="1" style="background-image: url('../static/images/stargate_s01.jpg')">
            <h3>1</h3>
        </div>
        <div class="panel" id="2" style="background-image: url('../static/images/stargate_s02.jpg')">
            <h3>2</h3>
        </div>
        <div class="panel" id="3" style="background-image: url('../static/images/stargate_s03.jpg')">
            <h3>3</h3>
        </div>
        <div class="panel" id="4" style="background-image: url('../static/images/stargate_s04.jpg')">
            <h3>4</h3>
        </div>
        <div class="panel" id="5" style="background-image: url('../static/images/stargate_s05.jpg')">
            <h3>5</h3>
        </div>
        <div class="panel" id="6" style="background-image: url('../static/images/stargate_s06.jpg')">
            <h3>6</h3>
        </div>
        <div class="panel" id="7" style="background-image: url('../static/images/stargate_s07.jpg')">
            <h3>7</h3>
        </div>
        <div class="panel" id="8" style="background-image: url('../static/images/stargate_s08.jpg')">
            <h3>8</h3>
        </div>
        <div class="panel" id="9" style="background-image: url('../static/images/stargate_s09.jpg')">
            <h3>9</h3>
        </div>
        <div class="panel" id="10" style="background-image: url('../static/images/stargate_s10.jpg')">
            <h3>10</h3>
        </div>

        
    </div>
    <div class="episodes"><div class="div" style="width:100vw;"></div><h1>Select a season to see episode list and other info</h1></div>
    
    <script src="../static/js/stargate/seasons.js"></script>
    <script src="../static/js/stargate/episodes.js"></script>
    <div class="totop-placeholder"></div>
    <div class="footer-placeholder"></div>
    <script src="../static/js/autoElement.js"></script>
    <script>StargateAutoElement();</script>
</body>
</html>